.contato {
    background: var(--branco);
    padding: 1.5em 1em;
}

.contato__titulo, .contato__texto{
    background: var(--cor-de-fundo-secundaria);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-weight: var(--fonte-medium);
    font-size: 1.125rem;
}

.contato__texto {
    margin: 1em 0;
    font-weight: var(--fonte-light);
}

.contato__email {
    background-color: transparent;
    border: 1px solid var(--azul);
    border-radius: 24px;
    color: var(--azul);
    padding: 1em;
    width: 90%;
}

.contato__email::placeholder {
    background: url('../assets/Email.svg') no-repeat;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: var(--fonte-regular);
    background-position: 1em;
    padding-left: 3em;
    color: var(--azul);
}