.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    gap: 1px;
}

.container__imagem {
    padding: 0.5em 0.7em;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.container__botao:checked ~ .lista__menu {
    display: block;
}

.lista__menu-item, .lista__menu-titulo {
    padding: 1em;
    background-color: var(--branco);
}


.lista__menu-titulo {
    color: var(--cor-menu-titulo);
    font-weight: var(--fonte-bold);
    font-size: 1rem;
}

.lista__menu-link {
    background: var(--cor-de-fundo-secundaria);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: var(--fonte-regular);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

