.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../assets/Menu Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--cor-de-fundo-secundaria);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    gap: 1px;
}

.container__imagem {
    padding: 0.5em 0.7em;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.container__botao {
    visibility: hidden;
}

.container__botao:checked~.lista__menu {
    display: block;
}

.lista__menu-item,
.lista__menu-titulo {
    padding: 1em;
    background-color: var(--branco);
}

.lista__menu-titulo {
    color: var(--cor-menu-titulo);
    font-weight: var(--fonte-bold);
    font-size: 1rem;
}

.lista__menu-link {
    background: var(--cor-de-fundo-secundaria);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: var(--fonte-regular);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.container__texto, .container__titulo, .opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho__menu-hamburguer,
    .container__botao,
    .container__imagem-favorito, .opcoes__botao {
        display: none;
    }

    .container {
        padding: 0 3em;
    }

    .container__titulo {
        display: block;
        font-family: var(--fonte-secundaria);
        font-weight: var(--fonte-regular);
        font-size: 1.875rem;
        color: var(--preto);
    }

    .container__titulo-negrito {
        font-family: var(--fonte-secundaria);
        font-weight: var(--fonte-bold);
    }

    .opcoes {
        display: flex;
        justify-content: space-between;
        gap: 4em;
    }

    .opcoes__item,
    .opcoes__link {
        font-family: var(--fonte-secundaria);
        color: var(--preto);
    }

    .opcoes__link {
        text-decoration: none;
    }

    .opcoes__botao:checked ~ .lista__menu {
        display: block;
    }

    .lista__menu {
        width: 15vw;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--cor-de-fundo-secundaria);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista__menu-item:hover {
        background: var(--cor-de-fundo-secundaria);
    }

    .lista__menu-item > .lista__menu-link:hover {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width:1728px) {

    .opcoes {
        margin-right: auto;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .container__texto {
        display: block;
        color: var(--preto);
        font-size: 1.25rem;
        font-weight: var(--fonte-regular);
    }
}