.topicos {
    padding: 1em 0;
    background: var(--cor-de-fundo-secundaria);
    text-align: center;
}

.topicos__titulo {
    padding: 1em;
    font-weight: var(--fonte-light);
    color: var(--branco);
}

.topicos__lista {
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.topicos__item {
    display: flex;
}

.topicos__link {
    background: var(--cor-menu-titulo);
    padding: 1em;
    font-weight: var(--fonte-bold);
    font-size: 0.875rem;
    color: var(--branco);
    text-decoration: none;
}

.topicos__link:hover {
    background: var(--branco);
    color: var(--cor-menu-titulo);
}

@media screen and (min-width:1024px) {
    
    .topicos__titulo {
        font-size: 1.5rem;
        padding: 1em 0 1.5em 0;
    }

    .topicos__link {
        padding: 1.35em;
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1728px) {
    .topicos {
        padding: 3em 25vw;
    }

    .topicos__titulo {
        font-size: 2rem;
    }
}